body {
  margin: 0;
  padding: 0;
  background: #1f2532;
}
/* SVG IMGS */

.SVG {
  position: absolute;
}
/* Loading */
.Yellow-Accent {
  width: 120%;
  left: 0;
  bottom: 0;
}

.Red-Accent {
  width: 120%;
  left: 0;
  bottom: 0;
}

.Hand {
  width: 42%;
  right: 25%;
  bottom: 0;
}

.Pink-Accent {
  width: 120%;
  left: 0;
  bottom: 0;
  mix-blend-mode: overlay;
}

@media only screen and (min-width: 768px) {
  .Yellow-Accent {
    width: 110%;
  }

  .Red-Accent {
    width: 110%;
  }

  .Hand {
    width: 30%;
    right: 32%;
    bottom: 0;
  }

  .Pink-Accent {
    width: 110%;
  }
}

@media only screen and (min-width: 1024px) {
  .Yellow-Accent {
    width: 80%;
    right: 0%;
    left: auto;
  }

  .Red-Accent {
    width: 80%;
    right: 0;
    left: auto;
  }

  .Hand {
    width: 20%;
    right: 35%;
    bottom: 0;
  }

  .Pink-Accent {
    width: 80%;
    right: 0;
    left: auto;
  }
}

/* Signup */

.Anchor {
  width: 45%;
  right: 5%;
  bottom: -4%;
}

.Bird {
  width: 55%;
  right: -22%;
  top: 28%;
}

.Button-Accent {
  width: 30%;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

.Eye {
  width: 30%;
  right: 10%;
  top: 1%;
}

.Flower {
  width: 35%;
  top: -60px;
  left: -50px;
}

.Guitar-Green {
  width: 45%;
  left: -135px;
  top: 190px;
}

.Guitar-Purple {
  width: 55%;
  right: -60px;
  bottom: 20px;
}

.Heart {
  width: 45%;
  left: -5%;
  bottom: 20%;
}

.Lightning-Blue {
  width: 16%;
  right: 10px;
  top: 200px;
}

.Lightning-Green {
  width: 20%;
  left: 20px;
  bottom: 150px;
}

.Lightning-Purple {
  width: 17%;
  left: 90px;
  top: 55px;
}

.Skull-Blue {
  width: 18%;
  left: 30px;
  bottom: 290px;
}

.Skull-Yellow {
  width: 20%;
  right: 50px;
  top: -20px;
}

.Skull-Red {
  width: 20%;
  right: -60px;
  bottom: 290px;
}

.Swords {
  width: 45%;
  left: 4%;
  top: 10%;
}

@media only screen and (min-width: 768px) {
  .Button-Accent {
    width: 20%;
    top: 500px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .Flower {
    width: 30%;
    top: -155px;
    left: 10px;
  }

  .Guitar-Green {
    width: 40%;
    left: -150px;
    top: 380px;
  }

  .Guitar-Purple {
    width: 32%;
    right: 100px;
    bottom: -120px;
  }

  .Lightning-Blue {
    width: 15%;
    right: 200px;
    top: 400px;
  }

  .Lightning-Green {
    width: 15%;
    left: 220px;
    bottom: -10px;
  }

  .Lightning-Purple {
    width: 15%;
    left: 300px;
    top: 100px;
  }

  .Skull-Blue {
    width: 15%;
    left: 220px;
    bottom: 290px;
  }

  .Skull-Yellow {
    width: 15%;
    right: 150px;
    top: -50px;
  }

  .Skull-Red {
    width: 15%;
    right: 10px;
    bottom: 280px;
  }
}
/* IE11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* SVG IMGS */

  .SVG {
    height: 1px;
    overflow: visible;
  }

  /* Loading  */

  .Hand {
    padding-bottom: 100%;
  }

  .Pink-Accent {
    padding-bottom: 30%;
  }

  .Red-Accent {
    padding-bottom: 33%;
  }

  .Yellow-Accent {
    padding-bottom: 39%;
  }
  @media only screen and (min-width: 768px) {
    .Hand {
      padding-bottom: 80%;
    }
  }
  @media only screen and (min-width: 1024px) {
    .Hand {
      padding-bottom: 55%;
    }
    .Pink-Accent {
      padding-bottom: 23.5%;
    }

    .Red-Accent {
      padding-bottom: 28%;
    }

    .Yellow-Accent {
      padding-bottom: 29%;
    }
  }
}

/* Add Host */
.Yellow-Accent-Host {
  width: 220%;
  left: -50%;
  bottom: 0;
}

.Red-Accent-Host {
  width: 220%;
  left: -50%;
  bottom: -5%;
}

.Hand-Host {
  width: 60%;
  right: 18%;
  bottom: -6%;
}

.Pink-Accent-Host {
  width: 220%;
  left: -50%;
  bottom: 0;
  mix-blend-mode: overlay;
}
@media only screen and (min-width: 1024px) {
  .Hand-Host {
    width: 45%;
    right: 27%;
  }
}
