body {
  margin: 0;
  padding: 0;
  background: #1f2532;
}

/* SVG IMGS */

.SVG {
  position: absolute;
}
/* Loading Screen */

.Yellow-Accent {
  width: 80%;
  right: 0;
  bottom: 0;
}

.Red-Accent {
  width: 80%;
  right: 0;
  bottom: 0;
}

.Hand {
  width: 20%;
  right: 32%;
  bottom: 0;
}

.Pink-Accent {
  width: 80%;
  right: 0;
  bottom: 0;
  mix-blend-mode: overlay;
}

/* Signup Screen */

.Anchor {
  width: 15%;
  right: 34%;
  bottom: -20%;
}

.Bird {
  width: 15%;
  right: 25%;
  top: 35%;
}

.Button-Accent {
  width: 15%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Eye {
  width: 10%;
  right: 33%;
  top: 1%;
}

.Flower {
  width: 15%;
  left: 18%;
  top: -14%;
}

.Guitar-Green {
  width: 20%;
  left: 11%;
  bottom: 28%;
}

.Guitar-Purple {
  width: 20%;
  right: 25%;
  bottom: -23%;
}

.Heart {
  width: 15%;
  left: 20%;
  bottom: 10%;
}

.Lightning-Blue {
  width: 10%;
  right: 28%;
  bottom: 30%;
}

.Lightning-Green {
  width: 10%;
  left: 30%;
  bottom: -10%;
}

.Lightning-Purple {
  width: 10%;
  left: 35%;
  top: 5%;
}

.Skull-Blue {
  width: 9%;
  left: 30%;
  bottom: 20%;
}

.Skull-Yellow {
  width: 10%;
  right: 28%;
  top: -4%;
}

.Skull-Red {
  width: 10%;
  right: 16%;
  bottom: 15%;
}

.Swords {
  width: 15%;
  left: 28%;
  top: 12%;
}

/* IE11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* SVG IMGS */

  .SVG {
    height: 1px;
    overflow: visible;
  }

  /* Loading Screen */

  .Hand {
    padding-bottom: 55%;
  }

  .Pink-Accent {
    padding-bottom: 23.5%;
  }

  .Red-Accent {
    padding-bottom: 28%;
  }

  .Yellow-Accent {
    padding-bottom: 29%;
  }

  /* Signup Screen */

  .Anchor {
    bottom: 20%;
  }

  .Button-Accent {
    top: 50%;
  }

  .Guitar-Green {
    bottom: 62%;
  }

  .Guitar-Purple {
    right: 24%;
    bottom: 26%;
  }

  .Heart {
    bottom: 35%;
  }

  .Lightning-Blue {
    bottom: 60%;
  }

  .Lightning-Green {
    bottom: 20%;
  }

  .Skull-Blue {
    bottom: 45%;
  }
}
